<div *ngIf="hasFetchError == true; else categoriesList">
    <div class="alert alert-danger text-center">
        Nie udało się pobrać kategorii<br />
        {{fetchMessageResponse}}
    </div>
</div>

<ng-template #categoriesList>
    <div class="list-group">
        <div class="list-group-item list-group-item-action selectedCategory bg-primary text-white" id="all">Wszystkie</div>
        <div *ngFor='let category of categories'>
            <div class="list-group-item list-group-item-action" id={{category.Id}}>{{category.Name}}</div>
        </div>
    </div>
</ng-template>